<a href="https://colab.research.google.com/github/ENGRBertoli/docs/blob/main/Programa_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Meu primeiro código

In [2]:
#Comentário Python
a = 2
print(type(a))
b = 3
print(type(b))
soma = a+b
print(type(soma))
print(soma)

<class 'int'>
<class 'int'>
<class 'int'>
5

#Importância dos tipos de dados

In [5]:
num = int(input("Digite um número inteiro: "))
print(type(num))
quoc = num//2
resto = num%2
print("Quociente = ", quoc)
print("Resto = ", resto)

Digite um número inteiro: 9
<class 'int'>
Quociente =  4
Resto =  1

#TRABALHO AVA

In [10]:
#Cálculo da Média de Dois Valores
Valor1 = float(input("Digite o primeiro valor: "))
Valor2 = float(input("Digite o segundo valor: "))
media = (Valor1+Valor2)/2
print("A média é: ", media)

Digite o primeiro valor: 6
Digite o segundo valor: 9
A média é:  7.5

In [16]:
#EXEMPLO 2: NARRATIVA
altura = float(input("Digite a altura: "))
base = float(input("Digite a base: "))
resultado = altura*base/2.0
print(f"A área é de {resultado}m²")
#para ficar no formato acima, com o valor antes da unidade de medida, com f antes das "" e colocar a variável entre {}

Digite a altura: 2.5
Digite a base: 9
A área é de 11.25m²

In [18]:
#EXEMPLO 2: PSEUDOCÓDIGO
Início
real: base, altura, area
Ler: base
Ler: altura
Calcular area = base*altura/2.0
Escrever area

SyntaxError: invalid syntax (<ipython-input-18-db8b6f220a5e>, line 3)